include ../../../stats.jade


.row
  #sagaPhoto(style='background-image:url({{shipPhoto}});')
  #viewScreen View Screen
.row
  .story
    .row
      h5 After passing through the strange object you decide to call it the Large Magellenic Cloud since you have been reading a biography of an ancient earth explorer named Magellan.  Your science team has decided to call it an irregular galaxy since it has dark matter in it.  They seem very pleased with themesleves so you agree.  Looking at your star map you know there is now nothing between you and Starbase Andromeda except a lot of empty space.  You tell your crew to get some rest, turn on the ships auto pilot, and settle down at the helm with a book and a cup of tea.  Suddenly your ship stops and you realize you are trapped in a huge cage.  Then a strange man appears on your bridge.  He calls himself Q.  You have heard of this Q before and know he is not to be trusted. 
      h5 Do you want to:
    .row
      .choices(ng-repeat='b in buttonText')
        .col-xs-4
          button.btn.btn-danger(ng-click='sagaChoice(b.value)') {{b.text}}
