include ../../../stats.jade


.row
  #crabPhoto(style='background-image:url(assets/img/astronomy/crab.jpg);')
  #viewScreen View Screen
.row
  .story
    .row
      h5 The ensign at helm continues to arc your ship along the Milky Way's Orion Arm in hopes of using the huge gravitational center of the Milky Way to slingshot your ship towards the andromeda galaxy.  Suddenly you find yourself being pulled towards a beautiful objects that looks as if it is the remains of something that exploded.  You science officer tells you the object is a supernova remnant and the ship is being pulled in by the strong magnetic field.
      h5 Do you want to:
    .row
      .choices(ng-repeat='b in buttonText')
        .col-xs-4
          button.btn.btn-danger(ng-click='CrabChoice(b.value)') {{b.text}}
