h1 Register

.row
  .col-xs-4
  .col-xs-4
    .pannel.pannel-default
      .pannel-body
        form(role='form', novalidate, name='userForm')
          .form-group
            label(for='email') Email
            input.form-control#email(type='email', name='email', ng-model='user.email', autofocus, required)
          .form-group
            label(for='password') Password
            input.form-control#password(type='password', name='password', ng-model='user.password', required, ng-minlength='3')
          button.btn.btn-danger(ng-show='userForm.$valid', ng-click='register()') Register
  .col-xs-4

