include ../../../stats.jade


.row
  #asteroidPhoto(style='background-image:url(assets/img/astronomy/asteroids.jpg);')
  #viewScreen View Screen
.row
  .story
    .row
      h5 On your way out of the solar system you encounter the asteroid belt.  You are a little worried about rocks hitting your ship.
      h5 Do you want to:
    .row
      .choices(ng-repeat='b in buttonText')
        .col-xs-4
          button.btn.btn-danger(ng-click='sunChoice(b.value)') {{b.text}}
