.grass
  h1.titlePos You Died!

  button.btn.btn-lg.btn-danger(ng-click='seeStats()').buttonLoc See Stats!
  #tombstone(style='background-image:url(assets/img/tombstone.png);')
  h2.captainName {{captain}}
