include ../../../stats.jade


.row
  #sagaPhoto(style='background-image:url(assets/img/astronomy/sagA.jpg);')
  #viewScreen View Screen
.row
  .story
    .row
      h5 Having made it through the crab nebula you know that you are now close to the center of the Milky Way Galaxy.  Your chief engineer has ensured you that if you use the gravitational center of the Milky Way to slingshot yourself out of the galaxy you will save a lot more energy and time than if you were to just go at warp 10.  You know that you are close to the center but need to decide the best place to travel.  Ahead you notice there is a break in the gas and dust of the galaxy that resembles a hole.
      h5 Do you want to:
    .row
      .choices(ng-repeat='b in buttonText')
        .col-xs-4
          button.btn.btn-danger(ng-click='asteroidChoice(b.value)') {{b.text}}
