include ../../../stats.jade

.row
  #sunPhoto(style='background-image:url(assets/img/astronomy/sun.jpg);')
  #shipOrbit
    #shipPhoto(style='background-image:url({{shipPhoto}});')
.row
  .story
    .row
      h5 Your new ship has been built in orbit around the Sun; in part to take advantage of the huge amount of power emanating from the surface but also because you will need to use the immense gravitational pull of the sun to slingshot your ship out of the solar system.  You make your way to your new ship via a small transport ship.  Once you have assumed command of your ship and your crew is in place, it is time for you to complete your mission.  Do you want to:
      h5 Do you want to:
    .row
      .choices(ng-repeat='b in buttonText')
        .col-xs-4
          button.btn.btn-danger(ng-click='sunChoice(b.value)') {{b.text}}
