h3 Dashboard

.row
  .col-xs-4
    .about
      .row
        .col-xs-6
          .userPhoto(style='background-image:url({{thisUser.photo}});')
          button.btn.btn-sm.btn-danger(ng-click='togglePhoto()') Edit Photo
          form(role='form', novalidate, ng-show='showPhoto', name='photoForm')
            .form-group
              input.form-control(ng-pattern='/^http/', required, ng-model='thisUser.photo', type='text', name='thisUser.photo')
        .col-xs-6
          h4 User Email:
          h5 {{thisUser.email}}
          &nbsp
          h4 Number of Games played:
          h5 {{thisUser.games.length}}
  .col-xs-8
    .last
      h1 LAST GAME GRAPH
.row
  h1 Game History
  .allGames
    .col-xs-2
      h4 Game #
      h4 Date
    .col-xs-10
      table.table.tabBack
        thead
          tr
            th
            th Stage 1
            th Stage 2
            th Stage 3
            th Stage 4
            th Stage 5
            th Stage 6
            th Stage 7
            th Stage 8
            th Stage 9
            th Stage 10
        tbody
            tr
              td Health
            tr
              td Time (yrs)
