include ../../../stats.jade

.row
  h1 Congratulations!
  #andromedaPhoto(style='background-image:url(assets/img/astronomy/andromeda.jpg);')
  #andromedaShipOrbit
    #shipPhoto(style='background-image:url({{shipPhoto}});')
&nbsp
.row
  .story
    .row
      h5 You finally made it to Starbase Andromeda!!!  Your crew has been sent on shore leave and the starbase has finally received its much needed supplies from your cargo bay.
    .row
      button.btn.btn-lg.btn-danger(ng-click='seeStats()') See Stats!
