h1 New Game
.story
  .row
    h5 Greetings!  Starfleet is in need of a captain and and ship to run supplies from Earth to Starbase Andromeda.  Starbase Andromeda is a research base located about 2.5 million lightyears from Earth.  Will you help assemble a crew and get some much needed supplies to Starbase Andromeda?
.row
  eutton.btn.btn-lg.btn-danger(ng-click='newGame()') Start New Game
